body {
  font-family: arial;
}
#root {
  display: flex;
  flex-flow: column nowrap;
}

.page__header {
  height: 80px;
  background: linear-gradient(
    to bottom,
    rgb(246, 248, 249) 0%,
    rgb(215, 222, 227) 99%
  );
  display: flex;
  justify-content: space-between;
  align-items:center;
  flex: none;
}

.page__main {
  flex: auto;
  // height: calc(100% - 80px);
  display: flex;
  overflow: hidden;
}

.page__dirtree {
  border-right: 4px solid #d7dee3;
  flex: none;
  overflow: auto;
  width: 200px;
}